<h1><%= @blog.post_title %></h1>
<p>Published on <%= @blog.created_at.strftime("%B %e, %Y") %> by <%= @blog.post_author %></p>
<p><%= @blog.post_content %></p>
<%= link_to 'Edit', edit_blog_path(@blog) %>
<%= link_to 'Delete', blogs_path(@blog), method: :delete, data: { confirm: 'Are you sure you wish to delete this post?'} %>
<div>
<h2><%= pluralize(@blog.comments.count, 'Comment') %></h2>
<%= render @blog.comments %>
<h3>Add a comment:</h3>
<% if user_signed_in? %>
	<%= render 'comments/form' %>
<% else %>
	<p><%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %> to leave a comment</p>
<% end %>
</div>