<div class="discussion-wrapper">
	<% if user_signed_in? %>
		<%= link_to "Start Discussion", new_discussion_path, class: "start-discussion-button" %>
	<% else %>
		<p class="start-discussion-text"><%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %> to start a discussion</p>
	<% end %>
	<div class="discussion-sort">
		<ul class="sort-list">
			<li class="sort-item current"><%= link_to 'Top Rated - Week', topweek_discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Most Recent', discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Top Rated - Today', toptoday_discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Top Rated - Month', topmonth_discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Top Rated - Year', topyear_discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Most Replies - Today', mosttoday_discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Most Replies - Week', mostweek_discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Most Replies - Month', mostmonth_discussions_path %></li>
			<li class="sort-item other"><%= link_to 'Most Replies - Year', mostyear_discussions_path %></li>
		</ul>
		<i id="sort-button" class="material-icons">sort</i>
	</div>
	<% @discussions.each do |d| %>
		<div class="discussion-container">
			<div class="vote-buttons">
				<div class="vote-plus">
					<%= link_to plus_discussion_path(d), method: :put do %>
						<i class="material-icons">add</i>
					<% end %>
					<p><% d.score = d.get_upvotes.size - d.get_downvotes.size %><% d.save %><%= d.score %></p>
				</div>
				<div class="vote-minus">
					<%= link_to minus_discussion_path(d), method: :put do %>
						<i class="material-icons">remove</i>
					<% end %>
				</div>
			</div>
			<div class="discussion-tabs">
				<% if d.category != nil && d.category != "" %>
					<span class="category-tab"><i class="material-icons">turned_in</i><p><%= d.category %></p></span>
				<% end %>
				<div class="sharing-buttons">
					<a class="tweet-button" href="https://twitter.com/intent/tweet?url=http://www.aujungletimes.com/discussions/<%= d.slug %>&text=<%= d.title %>&related=TheJungleTimes" target="_blank"><img src="<%= asset_path "logos/twitter.png" %>" height="30px"/></a>
					<a class="share-button" href="https://www.facebook.com/sharer/sharer.php?u=http://www.aujungletimes.com/discussions/<%= d.slug %>" target="_blank"><img src="<%= asset_path "logos/facebook.png" %>" height="25px"/></a>
					<a class="plus-button" href="https://plus.google.com/share?url=http://www.aujungletimes.com/discussions/<%= d.slug %>" target="_blank"><img src="<%= asset_path "logos/googleplus.png" %>" height="35px"/></a>
				</div>
			</div>
			<div class="discussion-content">
				<h2 class="discussion-title"><%= link_to d.title, d %></h2>
				<div class="discussion-info">
					<span class="discussion-creator"><i class="material-icons">account_circle</i><p><%= d.creator %></p></span>
					<span class="discussion-date"><i class="material-icons">schedule</i><p><%= d.created_at.strftime("%B %e, %Y") %></p></span>
					<% if user_signed_in? && current_user.admin? %>
						<%= link_to 'Delete', discussion_path(d), method: :delete, data: { confirm: 'Are you sure you wish to delete this discussion?'} %>
					<% end %>
					<span class="discussion-reply"><i class="material-icons">comment</i><p><%= pluralize(d.replies.count, 'Reply') %></p></span>
				</div>
			</div>
		</div>
	<% end %>
	<!-- pagination links with will_paginate -->
	<%= will_paginate @posts %>
</div>