<!DOCTYPE html>
<html>
<head>
  <title>The Jungle Times</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- authentication links at the top of the page. TODO: put them in the correct spot and possibly modify slightly -->
	<div id="auth-links">
		<% if user_signed_in? %>
			<p>Logged in as <strong><%= current_user.username %></strong> </p>
			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'link' %> | 
			<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'link' %>
			<% if current_user.writer? || current_user.admin? %>
				<%= link_to 'Writer panel', admin_path, :class => 'link' %>
			<% end %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path, :class => 'link'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'link'  %>
		<% end %>
	</div>

	<h1>The Jungle Times</h1>
	<% if user_signed_in? %>
		<p>The current user is a(n) <%= current_user.permission %></p>
	<% end %>

<%= yield %>

</body>
</html>
