<% @posts.each do |post| %>
	<div>
		<div>
			<% if post.post_category != nil && post.post_catgory != "" %>
				<div><p><i class="material-icons">turned_in</i>&nbsp;<%= post.post_category %></p></div>
			<% end %>
			<!-- TODO: replace with actual sharing links -->
			<div><p>TWITTER</p></div>
			<div><p>FACEBOOK</p></div>
			<div><p>GOOGLE+</p></div>
		</div>
		<div>
			<h2><%= link_to post.post_title, post %></h2>
			<img src="http://placehold.it/600x400">
			<div>
				<p><i class="material-icons">account_circle</i>&nbsp;<%= post.post_author %></p>
				<p><i class="material-icons">schedule</i>&nbsp;<%= post.created_at.strftime("%B %e, %Y") %></p>
				<p><i class="material-icons">comment</i>&nbsp;<%= post.comments.count %></p>
			</div>
		<div>
	</div>
<% end %>
<!-- pagination links with will_paginate -->
<div><%= will_paginate @posts %><div>