<h2><%= @post.post_title %></h2>
<!-- Post author, date, and category (if it has one) -->
<div><p><i class="material-icons">account_circle</i>&nbsp;<strong><%= @post.post_author %></strong></p></div>
<div><p><i class="material-icons">schedule</i>&nbsp;<%= @post.created_at.strftime("%B %e, %Y") %></p></div>
<% if @post.post_category != nil && @post.post_category != "" %>
	<div><p><i class="material-icons">turned_in</i>&nbsp;<%= @post.post_category %></p></div>
<% end %>
<img src="http://placehold.it/600x400">
<div>
	<!-- TODO: replace with social sharing buttons -->
	<div><p>TWITTER</p></div>
	<div><p>FACEBOOK</p></div>
	<div><p>GOOGLE+</p></div>
</div>
<!-- TODO: replace with actual Google AdSense ad -->
<img src="http://placehold.it/860x150">
<div><%= @post.post_content %></div>
<!-- if the post belongs to the current user or the current user is an admin, allow for the post to be edited or deleted. -->
<% if user_signed_in? && (current_user.username == @post.post_author || current_user.admin?) %>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<%= link_to 'Delete', posts_path(@post), method: :delete, data: { confirm: 'Are you sure you wish to delete this post?'} %>
<% end %>
<div>
<h3><%= pluralize(@post.comments.count, 'Comment') %></h3>
<%= render @post.comments %>
<% if user_signed_in? %>
	<h3>Add a comment:</h3>
	<%= render 'comments/form' %>
<% else %>
	<p><%= link_to 'Sign In', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %> to leave a comment</p>
<% end %>
</div>