<h1><%= @post.post_title %></h1>
<p>Published on <%= @post.date_created %></p>
<p><%= @post.post_content %></p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure you wish to delete this post?'} %>
<div>
<h2><%= pluralize(@post.comments.count, 'Comment') %></h2>
<%= render @post.comments %>
<h3>Add a comment:</h3>
<%= render 'comments/form' %>
</div>