<%= form_for(@cat) do |f| %>
	<% if @cat.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@cat.errors.count, "error") %> prevented this category from saving</h2>
			<ul>
				<% @cat.errors.full_message.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="username-field">
		<%= f.label :category_title %>
		<%= f.text_field :category_title %>
	</div>
	<div class="checkbox-field">
		<%= f.check_box :blog %>
		<%= f.label :blog? %>
	</div>
	<div class="update-field">
		<%= f.submit %>
	</div>
<% end %>