<%= form_for(@cat) do |f| %>
	<% if @cat.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@cat.errors.count, "error") %> prevented this category from saving</h2>
			<ul>
				<% @cat.errors.full_message.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :category_title %><br/>
		<%= f.text_field :category_title %>
	</p>
	<p>
		<%= f.label :blog %><br/>
		<%= f.check_box :blog %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>