<!DOCTYPE html>
<html>
<head>
	<% if @title != nil %>
  	<title><%= @title %> | The Jungle Times</title>
  <% else %>
  	<title>The Jungle Times</title>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Roboto:400,700,400italic|Ubuntu:700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<h1><%= link_to 'The Jungle Times', posts_path %></h1>
	<div>
		<% if user_signed_in? && (current_user.admin? || current_user.writer?)%>
			<p>Signed in as <strong><%= current_user.username %></strong> | <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> | <%= link_to 'Edit Profile', edit_user_registration_path %> | <%= link_to 'Posts Panel', panel_path %> | <%= link_to 'New Post', new_post_path %></p>
		<% elsif user_signed_in? %>
			<p>Signed in as <strong><%= current_user.username %></strong> | <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> | <%= link_to 'Edit Profile', edit_user_registration_path %></p>
		<% else %>
			<%= link_to 'Sign In', new_user_session_path %> | <%= link_to 'Sign Up', new_user_registration_path %>
		<% end %>
	</div>
	<nav>
		<ul>
			<li><i class="material-icons">description</i><%= link_to 'Blog', posts_path %></li>
			<li><i class="material-icons">forum</i><%= link_to 'Forum', discussions_path %></li>
			<li><i class="material-icons">live_help</i><%= link_to 'About', '/about' %></li>
			<li><i class="material-icons">email</i><%= link_to 'Contact', '/contact' %></li>
		</ul>
	</nav>

<%= yield %>
<!-- Twitter js -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- Facebook js -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1422431358041159";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
