<!DOCTYPE html>
<html>
<head>
	<% if @title != nil %>
  	<title><%= @title %> | The Jungle Times</title>
  <% else %>
  	<title>The Jungle Times</title>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Roboto:400,700,400italic|Ubuntu:700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="page-wrapper">
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<h1 class="header-title">The Jungle Times</h1>
		<div class="header-bar">
			<nav class="header-navigation">
				<ul>
					<li><i class="material-icons">description</i><%= link_to 'Blog', posts_path %></li>
					<li><i class="material-icons">forum</i><%= link_to 'Forum', discussions_path %></li>
					<li><i class="material-icons">live_help</i><%= link_to 'About', '/about' %></li>
					<li><i class="material-icons">email</i><%= link_to 'Contact', '/contact' %></li>
				</ul>
			</nav>
			<div class="header-links">
				<% if user_signed_in? && (current_user.admin? || current_user.writer?)%>
					<p>Signed in as <strong><%= current_user.username %></strong> | <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> | <%= link_to 'Edit Profile', edit_user_registration_path %> | <%= link_to 'Posts Panel', panel_path %> | <%= link_to 'New Post', new_post_path %></p>
				<% elsif user_signed_in? %>
					<p>Signed in as <strong><%= current_user.username %></strong> | <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> | <%= link_to 'Edit Profile', edit_user_registration_path %></p>
				<% else %>
					<span class="not-signed-in"><%= link_to 'Sign In', new_user_session_path %>&nbsp;<%= link_to 'Sign Up', new_user_registration_path %></span>
				<% end %>
			</div>
		</div>
		<div class="ad-main-top">
			<!-- main_top -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-8692643521715142"
			     data-ad-slot="1162836931"
			     data-ad-format="auto"></ins>
		</div>
		<div class="social-media-links">
			<a id="twitter-link" href="http://www.twitter.com/thejungletimes" target="_blank"><img src="<%= asset_path "logos/twitter.png" %>"/><p>TheJungleTimes</p></a><a id="facebook-link" href="http://www.facebook.com/thejungletimes" target="_blank"><img src="<%= asset_path "logos/facebook.png" %>"/><p>TheJungleTimes</p></a>
		</div>

		<%= yield %>
		<div class="push"></div>
		<div class="ad-main-top">
			<!-- main_top -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-8692643521715142"
			     data-ad-slot="1162836931"
			     data-ad-format="auto"></ins>
		</div>
	</div>
	<footer class="site-footer">
		<div class="footer-wrapper">
			<p class="footer-text">&copy 2015 The Jungle Times<br/>
			Site by <a href="http://www.jacobvarner.com/" target="_blank">Jacob Varner</a> | <a href="http://www.twitter.com/TheJungleTimes" target="_blank">Twitter</a> | <a href="http://www.facebook.com/TheJungleTimes" target="_blank">Facebook</a></p>
		</div>
	</footer>
	<!-- Google AdSsense JS -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	<!-- Google Analytics Tracking Code -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-41944502-7', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
