<!DOCTYPE html>
<html>
<head>
	<% if @title != nil %>
  	<title><%= @title %> | The Jungle Times</title>
  <% else %>
  	<title>The Jungle Times</title>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<h1><%= link_to 'The Jungle Times', posts_path %></h1>
	<% if user_signed_in? && (current_user.admin? || current_user.writer?)%>
		<p>Signed in as <strong><%= current_user.username %></strong> | <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> | <%= link_to 'Edit Profile', edit_user_registration_path %> | <%= link_to 'Posts Panel', panel_path %> | <%= link_to 'New Post', new_post_path %></p>
	<% elsif user_signed_in? %>
		<p>Signed in as <strong><%= current_user.username %></strong> | <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> | <%= link_to 'Edit Profile', edit_user_registration_path %></p>
	<% else %>
		<%= link_to 'Sign In', new_user_session_path %> | <%= link_to 'Sign Up', new_user_registration_path %>
	<% end %>

<%= yield %>

</body>
</html>
